.social-network {
  padding-top: 8rem;
  padding-bottom: 9rem;
  background-color: $white-color;
  &__container {
    display: flex;
    align-items: center;
  }
  &__main-title {
    font-family: $Playfair;
    font-size: 3.2rem;
    line-height: 4.3rem;
  }
  &__text {
    font-family: $Roboto;
    line-height: 2.7rem;
    margin-top: 4rem;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    margin-top: 12rem;
  }
  &__images-container {
    display: flex;
    gap: 1rem;
  }
  &__images-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
