@import "variables";

html {
  font-size: 10px;
}

body {
  color: $base-text;
  font-size: 16px;
  background-color: $bg-color;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

@import "./layout/header.scss";
@import "./layout/header-description.scss";
@import "./layout/popular-models.scss";
@import "./layout/banner.scss";
@import "./layout/social-network.scss";
@import "./layout/footer.scss";
